<a href="https://colab.research.google.com/github/2303A51528/PDS_1528/blob/main/lab%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np

data={'name':['ravi','neha','kiran','sita'],'age':[25,np.nan,30,28],'marks':[85,90,np.nan,92]}

df=pd.DataFrame(data)
print("original dataframe:")
print(df)

print("\ncheck for missing values:")
print(df.isnull())

print("\nfill missing values with zero:")
df_filled=df.fillna(0)
print(df_filled)

print("\ndrop rows with missing values:")
df_dropped = df.dropna()
print(df_dropped)
print("after droping rows in nan:")
print(df_dropped)

original dataframe:
    name   age  marks
0   ravi  25.0   85.0
1   neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0

check for missing values:
    name    age  marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

fill missing values with zero:
    name   age  marks
0   ravi  25.0   85.0
1   neha   0.0   90.0
2  kiran  30.0    0.0
3   sita  28.0   92.0

drop rows with missing values:
   name   age  marks
0  ravi  25.0   85.0
3  sita  28.0   92.0
after droping rows in nan:
   name   age  marks
0  ravi  25.0   85.0
3  sita  28.0   92.0

In [8]:
df_filled=df.fillna(0)
print("Filled with 0:")
print(df_filled)

Filled with 0:
    name   age  marks
0   ravi  25.0   85.0
1   neha   0.0   90.0
2  kiran  30.0    0.0
3   sita  28.0   92.0

In [10]:
df['age']=df['age'].fillna(df['age'].mean())
df['marks']=df['marks'].fillna(df['marks'].mean())
print("Filled with mean:")
print(df)

Filled with mean:
    name        age  marks
0   ravi  25.000000   85.0
1   neha  27.666667   90.0
2  kiran  30.000000   89.0
3   sita  28.000000   92.0

In [14]:
#Handling Duplicates
data = {'name': ['ravi', 'neha', 'kiran', 'sita', 'ravi'],
        'age': [25, 28, 30, 28, 25],
        'marks': [85, 90, 92, 90, 85]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("\nCheck for duplicate rows:")
print(df.duplicated())
print("\nDrop duplicate rows:")
df_dropped = df.drop_duplicates()
print(df_dropped)

Original DataFrame:
    name  age  marks
0   ravi   25     85
1   neha   28     90
2  kiran   30     92
3   sita   28     90
4   ravi   25     85

Check for duplicate rows:
0    False
1    False
2    False
3    False
4     True
dtype: bool

Drop duplicate rows:
    name  age  marks
0   ravi   25     85
1   neha   28     90
2  kiran   30     92
3   sita   28     90

In [18]:
#data transformation
data={'id':['1','2','3','4'],'marks':['85','90','78','92']}

df=pd.DataFrame(data)
print("original datatypes:")
print(df.dtypes)

df['id']=pd.to_numeric(df['id'])
df['marks']=pd.to_numeric(df['marks'])

print("\nAfter data type conversion:")
print(df.dtypes)

original datatypes:
id       object
marks    object
dtype: object

After data type conversion:
id       int64
marks    int64
dtype: object

In [19]:
#apply transformation-add 5 bonus marks
df['bonus']=df['marks'].apply(lambda x:x+5)
print("\nAfter adding bonus marks:")
print(df)

After adding bonus marks:
   id  marks  bonus
0   1     85     90
1   2     90     95
2   3     78     83
3   4     92     97

In [24]:
#student details(index-student_id)
data={'name':['ravi','neha','kiran','sita']}
index=[101,102,103,104]
students = pd.DataFrame(data, index=index)


#marks data(index=student_id)
marks_data={'marks':[85,90,78,92]}
marks_index=[101,102,103,104]
marks = pd.DataFrame(marks_data, index=marks_index)


#join based on index
joined_df=students.join(marks,how='outer')
print(joined_df)

      name  marks
101   ravi     85
102   neha     90
103  kiran     78
104   sita     92